<ion-view>
    <ion-content class="center">
        <form>
        <div class="list ">
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Shop Name</span>
                <input type="text" placeholder="Avari Medicos">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Contact</span>
                <input type="number" placeholder="0331-1234567">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Complete Address">
            </label>
            <a class="button button-calm">Add Retailer</a>
        </div>
        </form>
    </ion-content>
</ion-view>