<ion-view>
    <ion-content class="center">
        <h3>Alvezia Co Pvt</h3>
        <div class="row">
            <div class="col center">
                <ul>

                    <li>
                        <a ui-sref="addRetailer">
                            <div class="row one">
                                <span class="ion-person-add ion-resizd"></span>
                            </div>
                            <div class="row one">
                                Add Retailer
                            </div>
                        </a>

                    </li>

                    <li>
                        <a href="">
                            <div class="row one">
                                <span class="ion-document-text ion-resizd"></span>
                            </div>
                            <div class="row one">
                                New Order
                            </div>
                        </a>

                    </li>

                    <li>
                        <a href="">
                            <div class="row one">
                                <span class="ion-calendar ion ion-resizd"></span>
                            </div>
                            <div class="row one">
                                Remainder
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="">
                            <div class="row one">
                                <span class="ion-ios-location ion-resizd"></span>
                            </div>
                            <div class="row one">
                                View Map
                            </div>
                        </a>

                    </li>


                </ul>
            </div>

            <div class="col center">

                <ul>

                    <li>
                        <a href="">
                            <div class="row one">
                                <span class="ion-person-stalker ion-resizd"></span>
                            </div>
                            <div class="row one">
                                All Retailer
                            </div>
                        </a>

                    </li>

                    <li>
                        <a href="">
                            <div class="row one">
                                <span class="ion-ios-cart ion-resizd"></span>
                            </div>
                            <div class="row one ">
                                Availble Stocks
                            </div>
                        </a>

                    </li>

                    <li>
                        <a href="">
                            <div class="row one">
                                <span class="ion-android-checkbox-outline ion-resizd"></span>
                            </div>
                            <div class="row one ">
                                History Order
                            </div>
                        </a>
                        <li>
                            <a href="">
                                <div class="row one">
                                    <span class="ion-ios-email ion-resizd"></span>
                                </div>
                                <div class="row one ">
                                    Messages
                                </div>
                            </a>

                        </li>


                </ul>


            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top">
        <a class="tab-item">
            <i class="icon ion-home"></i> Home
        </a>
        <a class="tab-item" ui-sref="login">
            <i class="icon ion-star"></i> Favorites
        </a>
        <a class="tab-item">
            <i class="icon ion-gear-a"></i> Settings
        </a>
    </div>
</ion-view>